<h1>Auth Example</h1>
<p>Email: {{user}}</p>

<form action="/login" method="POST">
  <input type="email" placeholder="Enter your email">
  <input type="password" placeholder="Enter your password">
  <button>Submit</button>
</form>